.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.container1  img {vertical-align: middle;}